@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: Roboto;
  background: linear-gradient(to right, #4286f4, #373b44);
}

div {
  background-color: rgb(70, 199, 119);
  margin: auto;
  padding: 30px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#timer {
  margin: auto;
  font-size: 50px;
  font-family: Montserrat;
}

button {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  background-color: silver;
  border-radius: 10px;
  border-style: solid;
  box-shadow: 10px;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 119, 41);
  color: white;
}
